


<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
 
    <ion-list>
      <ul id="venues">
        <class="content" ion-item ng-repeat="venue in venues">
        <a href="#/app/venues/{{venue.id}}">
        <li style="background-image: url({{venue.Image}})">
        <div class="venue-content">
        <h2 class="venue-title">{{venue.title}}</h2>
        <p class="venue-info">{{venue.Address}} <span class="open">Open</span></p></div>
        </li>
        </a>
        </class="content">
        </ul>
        </ion-list>
        </ion-content>
        </ion-view>
        
